<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective" translate="label" sortOrder="1000">
            <label>Perspective</label>
        </tab>
        <section id="perspective" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Perspective</label>
            <tab>perspective</tab>
            <resource>Perspective_CurrentExchangeRate::perspective</resource>
            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>perspective/general/enabled</config_path>
                    <comment>Helpful message about using this field.</comment>
                    <tooltip>Longer helpful message about using this field.</tooltip>
                </field>

        
                <field id="UAH" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UAH</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>perspective/general/optionUAH</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="courseUAH" type="text" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CourseUAH</label>
                    <validate>required-entry number</validate>
                    <config_path>perspective/general/courseUAH</config_path>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="UAH">1</field>
                    </depends>
                </field>   
                <field id="USD" type="select" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>USD</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>perspective/general/optionUSD</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="CourseUSD" type="text" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CourseUSD</label>
                    <validate>required-entry number</validate>
                    <config_path>perspective/general/CourseUSD</config_path>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="USD">1</field>
                    </depends>
                </field>   

                <field id="EURO" type="select" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EURO</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>perspective/general/optionEURO</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="CourseEURO" type="text" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CourseEURO</label>
                    <validate>required-entry number</validate>
                    <config_path>perspective/general/CourseEURO</config_path>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="EURO">1</field>
                    </depends>
                </field>   


                

            </group>
        </section>
    </system>
</config>